body {
  width: 100%;
  height: 100%;
  /*background-image: url("background.jpg");*/
  background-image: url("../images/background.jpg");
  /*no-repeat and fixed keep the background image fixed when you scroll, and won't repeat it if you go past where it would display*/
  background-repeat: no-repeat;
  background-attachment: fixed;
}



@font-face {
  font-family: "Marck Script";
  src: url("../fonts/MarckScript-Regular.ttf");
}



.title {
  text-align: center;
  /*max width is set to 1k px so it looks a little bit more neat on larger screen resolutions*/
  width: 100%;
  max-width: 1000px;
  height: 20%;
  max-height: 200px;
  margin: 3% auto;
  /*font size scales by the view width*/
  font-size: 12vw;
  /*stroke adds the outline to the title. it helps it stick out from the background image.*/
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: -4px 4px 2px rgba(150, 150, 150, 1);
  font-family: 'Marck Script', cursive;
  color: #FAEBD7;
  transform: rotate(-5deg);
  /*this animation expands the title from being compressed to being displayed normally over the course of 2 seconds.*/
	animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}.title p {
  max-height: 500px;
}@keyframes tracking-in-expand {
  /*this is where the calculations for the title expanding animation are done*/
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}



.whatsUp{
  /*this class is for the div that holds the dropdown menu and the submit post button.*/
  font-family: 'arial';
  width: 270px;
  height: 180px;
  margin: 10px auto;
  background-color: rgba(250, 235, 215, 0.75);
  border-radius: 10px;
  position: relative;
  z-index: 50;
  text-align: center;
}


/*animation to fade in the whatsup div*/
.whatsUp {
	-webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



.dropbtn {
  /*this is the actual button that says "what are people thinking in..."*/
    background-color: cyan;
    color: white;
    padding: 16px;
    font-size: 16px;
    width: 240px;
    border-radius: 10px;
    display: block;
    margin: auto;
}.dropdown {
  /*this is the class meant to contain the dropbtn and the dropdown-content*/
    text-align: center;
    position: relative;
    display: inline-block;
    /*this z-index is igher than the post area's z index so that it will display over it when hovered.*/
    z-index: 5;
    width: 240px;
    margin:5px auto;
}.dropdown-content {
  /*display:none until hovered (hover is down below)*/
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    /*min-width: 160px;*/
    width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    left: auto;
    right: auto;
}.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}.dropdown-content a:hover {
  background-color: #f1f1f1
}.dropdown:hover .dropdown-content {
    display: block;
}.dropdown:hover .dropbtn {
    background-color: #00bfff;
}.submitPost{
  padding: 16px;
  font-size: 16px;
  width: 240px;
  height: 80px;
  background-color: cyan;
  color: white;
  border-radius: 10px;
}



.postArea {
  position: relative;
  z-index: 0;
  padding-top: 5px;
  min-height: 600px;
  background-color: rgba(250, 235, 215, 0.75);
  margin: auto;
  border-radius: 10px;
  -webkit-animation: fade-in-bottom 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}



.post {
  display: inline-block;
  min-height: 80px;
  margin: 5px 0;
  background-color: cyan;
  opacity: 1.0;
  border-radius: 10px;
  padding-top: 5px;
  box-shadow: -10px 10px 10px 0px rgba(0,0,0,0.75);
  border:2px solid #2eb9ce;
  max-width: 95%;
}.scoreStuff{
  /*float: right;*/
}.upvoteBtn{
  background-color: cyan;
  color: white;
}.downvoteBtn{
  background-color: cyan;
  color: white;
}.post:hover{
  animation: scale-up-center 0.25s both;
  z-index: 10;
}@keyframes scale-up-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.10);
  }
}



.postText{
  display: inline-block;
}



@media (min-width: 1080px) {
  /*fixes title size on screen widths of higher than 1080p*/
  .title{
    font-size: 9vw;
  }
}


/*this is the div for the input that pops up when you click on submit a post*/
.inputDiv {
  width: 90%;
  max-width: 400px;
  min-height: 170px;
  background-color: cyan;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  top: 30%;
  position: fixed;
  left: 50%;
  margin-left: -200px;
  border:2px solid #2eb9ce;

  /*high z index just to make sure it appears over anything else*/
  z-index: 100;
}.inputTextArea{
  display: block;
  width: 300px;
  height: 100px;
  margin: 10px auto;
}.inputBtns{
  display: inline;
  width: 70px;
  height: 30px;
}.cancelBtn{
}.submitBtn{
}



.hidden {
  display: none;
}



.textArea{
  overflow: auto;
}

<<<<<<< HEAD


=======
>>>>>>> master
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}
<<<<<<< HEAD

=======
>>>>>>> master
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;
<<<<<<< HEAD

=======
>>>>>>> master
 border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
<<<<<<< HEAD

=======
>>>>>>> master
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
<<<<<<< HEAD

=======
>>>>>>> master
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
<<<<<<< HEAD

=======
>>>>>>> master
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}
<<<<<<< HEAD

=======
>>>>>>> master
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
<<<<<<< HEAD

=======
>>>>>>> master
.loading{
  font-size: 16px;
  text-align: center;
  background-color: white;
  width: 400px;
  height: 150px;
  margin: 0px auto;
}
<<<<<<< HEAD
=======
 #positiveVibes{
   font-size: 16px;
 }
>>>>>>> master
