@import url('https://fonts.googleapis.com/css?family=Ovo');
@import url('https://fonts.googleapis.com/css?family=Muli');

*{
  outline-color: #eee;
}

body {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%
}
.loadscreen {
  background: url('../images/timelapse.gif') no-repeat center center fixed;
  background-size: cover;
}

/*.navcontainer{
  position: relative;
  margin: 0 auto;
  background-size: 700px;
  background-repeat: no-repeat;
  min-height: 360px;
  width: 100%;
}*/

/* Title Styles */

.titlecontainer {
  display: block;
  min-width: 200px;
}

.title {
  text-align: center;
  /*max width is set to 1k px so it looks a little bit more neat on larger screen resolutions*/
  margin-right: 18px;
  margin-top: 40px;
  /* makes less space between words when they go on another line*/
  line-height: 1;
  height: 60%;
  max-height: 500px;
  /*font size scales by the view width*/
  font-size: 11.1vw;
  /*stroke adds the outline to the title. it helps it stick out from the background image.*/
  /*-webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;*/
  text-shadow: -4px 4px 2px rgba(40, 40, 40, 1);
  font-family: 'Ovo', cursive;
  color: white;

  /*this animation expands the title from being compressed to being displayed normally over the course of 2 seconds.*/
  animation: tracking-in-expand 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand {
  /*this is where the calculations for the title expanding animation are done*/
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (min-width : 615px) {
  .title{
      margin-right: 50px;
      margin-bottom: 40px;
      font-size: 9.1vw;
    }
    .nav{
    font-family: 'Muli', sans-serif;
    margin: 10px auto;
    border-radius: 10px;
    position: relative;
    z-index: 50;
    text-align: center;
    }
  }

@media only screen and (min-width : 768px) {
  .title{
      transform: rotate(-5deg);
      margin-right: 0;
      margin-bottom: 40px;
      font-size: 7.1vw;
  }
}
@media only screen and (min-width : 992px) {}
@media only screen and (min-width : 1200px) {}

.postcontainer {
  padding-top: 30px;
  min-width: 400px;
 /* background-size: 125px;
  background-image:url("../images/Brick-2372.jpg");
  background-size: 125px;*/
  background-color: lightgrey;
  background-repeat: repeat;
  min-height: 800px;
  box-shadow: 5px 5px 5px rgba(170,170,170,0.9);
}

/*.imgcontainer {
  background-image:url("../images/Brick-2.jpg");
  background-size: 125px;
  background-repeat: repeat;
}*/

.outline {
  position: relative;
  margin-right: 8px;
  margin-left: 8px;
}

/*.blockout1{
  position: fixed;
  left: 300px;
  display: block;
  height: 200px;
  width: 100%;
  padding-left: 1000px;
  transform: rotate(35deg);
  background-color: pink;
  z-index: -1;
}
.blockout2{
  position: fixed;
  display: block;
  bottom: 400px;
  left: 400px;
  height: 200px;
  width: 2000px;
  padding-left: 1000px;
  padding-right: 100px;
  transform: rotate(-35deg);
  background-color: red;
  z-index: -1;
}*/


/*animation to fade in the whatsup div*/
.whatsUp {
  -webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



.whatsUp{
  /*this class is for the div that holds the dropdown menu and the submit post button.*/
  font-family: 'Muli', sans-serif;
  width: 270px;
  height: 180px;
  margin: 10px auto;
  background-color: rgba(250, 235, 215, 0.75);
  border-radius: 10px;
  position: relative;
  z-index: 50;
  text-align: center;
}

/*Nav and Dropdown Content */

.nav {
  font-family: 'Muli', sans-serif;
  margin: 10px auto;
  border-radius: 10px;
  position: relative;
  z-index: 50;
  text-align: center;

}


.dropbtn {
  /*this is the actual button that says "what are people thinking in..."*/
    background-color: rgba(64, 3, 3, 0.7);
    color: white;
    border: 1px solid #000;
    padding: 16px;
    font-size: 16px;
    width: 100%;
    border-radius: 2px;
    display: block;
    margin: auto;
    transition: 0.25s all;
}

.dropdown {
  /*this is the class meant to contain the dropbtn and the dropdown-content*/
    text-align: center;
    position: relative;
    display: inline-block;
    /*this z-index is igher than the post area's z index so that it will display over it when hovered.*/
    z-index: 5;
    width: 260px;
    margin:5px auto;
    transition: 0.5s all;
}

.dropdown-content {
  /*display:none until hovered (hover is down below)*/
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    /*min-width: 160px;*/
    width: 260px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    left: auto;
    right: auto;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    transition: 0.5s all;
}
.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgba(0,191,255, 0.8);
}

.submitPost{
  background-color: rgba(64,3,3,0.7);
  color: white;
  padding: 16px;
  font-size: 16px;
  width: 260px;
  border: 1px solid #000;
  border-radius: 2px;
  display: block;
  margin: auto;
}

@media only screen and (min-width : 615px) {
  .nav{
      margin: 20px auto;
  }

  .titlecontainer{
    width: 60%;
  }
}
@media only screen and (min-width : 768px) {}
@media only screen and (min-width : 992px) {}
@media only screen and (min-width : 1200px) {}


/*this is the div for the input that pops up when you click on submit a post*/
.inputDiv {
  width: 90%;
  max-width: 400px;
  min-height: 170px;
  background-color: #400303;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: #400303;
  border-radius: 2px;
  top: 30%;
  position: fixed;
  left: 50%;
  margin-left: -200px;

  /*high z index just to make sure it appears over anything else*/
  z-index: 100;
}

.downvoteBtn, .upvoteBtn{
  background-color: transparent;
  border: none;
  transition: 0.5s all;
}

.downvoteBtn:hover, .upvoteBtn:hover{
  color: rgba(0,191,255, 0.8);
}

#countdown {
  color: #f5f5f5;
}

.hidden {
  display: none;
}

.inputTextArea{
  display: block;
  position: relative;
  width: 300px;
  height: 100px;
  margin: 10px auto;
  resize: none;
  border: none;
}

.inputBtns{
  display: inline;
  width: 70px;
  height: 30px;
}

.cancelBtn{
}

.submitBtn{
}

.post {
  border-radius: 15px;
  font-family: 'Muli', sans-serif;
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px rgba(100,100,100,0.9);
}

.postArea {
  font-family: 'Muli', sans-serif;
  position: relative;
  z-index: 0;
  padding-top: 5px;
  min-height: 600px;
  background-color: rgba(250, 235, 215, 0.75);
  margin: auto;
  border-radius: 10px;
  -webkit-animation: fade-in-bottom 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: fade-in-bottom 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}



.scorestuff{
  position: relative;
  top: 8px;
}

.textArea{
  font-family: 'Muli', sans-serif;
  font-size: 15px;
  font-family: helvetica;
  position: relative;
  top: 50%;
  display: inline-block;
  overflow: auto;
  min-height: 112px;
}

.textArea p{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;
 border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
.loading{
  font-size: 16px;
  text-align: center;
  background-color: rgba(220,220,220,0.9);
  vertical-align: center;
  margin: 25%;

}
 #positiveVibes{
   font-size: 24px;
 }

.404{
  display: block;
  position: relative;
  margin-top: 100px;
}

#date {
  position: relative;
  bottom: 3px;
  font-size: 10px;
  margin: 10 0 0 0 ;
  padding: 0 0 0 0 ;
  font-color: rgba(10,10,10,0.4);
  text-indent: 2px;
}

.timeposted {
  text-align: center;
  position: relative;
  bottom: 10px;

}

.loading {
    background': url('../images/timelapse.gif') no-repeat center center fixed;
    background-size: cover
}


