  <div id="" class="inputDiv hidden">
  	  <form ng-submit="newPost(content)">
      <textarea class="inputTextArea" placeholder="Whats on your mind?" maxlength="160" ng-model="content.post" ng-disabled="hide"></textarea>
      <button type="button" name="button" class="cancelBtn inputBtns">Cancel</button>
      <button type="button" name="button" class="submitBtn inputBtns" ng-disabled="hide">Submit</button>
	  </form>
      
  </div>


<!--    <form ng-submit="newPost(content)">
      <input type="text" ng-model="content.post">
      <button type="submit"></button>
    </form> -->